# Editorconfig: https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.{md,mdx,markdown,yaml,yml},.{git,stylelint,docker}ignore,.env*}]
trim_trailing_whitespace = false

[{*.{json,jsonc,umap,geojson,{prettier,nvm}{rc,ignore}},{yarn,Gemfile}.lock}]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{py,rs}]
indent_size = 4
tab_width = 4
