rbs_collection.lock.yaml
.trunk/*out
.trunk/*logs
.trunk/*actions
.trunk/*notifications
.trunk/*tools
.trunk/plugins
.trunk/tmp
node_modules
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
.next
.angular
dist
coverage
tsconfig*.json
