{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 110,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-sh"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.{md,markdown}",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.{prettierrc,json,jsonc,umap,geojson}",
      "options": { "parser": "json" }
    },
    {
      "files": "*.{yml,yaml}",
      "options": {
        "parser": "yaml",
        "printWidth": 250
      }
    },
    {
      "files": "*.{sh,bash,zsh}",
      "options": {
        "parser": "sh",
        "keepComments": true,
        "indent": 2,
        "binaryNextLine": true,
        "switchCaseIndent": true,
        "spaceRedirects": false,
        "keepPadding": false,
        "minify": false,
        "singleLine": false,
        "functionNextLine": false
      }
    }
  ]
}
